<div class="navbar">
  <div class="container">
    <div class="my-nav intro">
      <div class="navbar-left">
      </div>
      <div class="navbar-right">
        <%= link_to "About me", "#about-link", class: "navbar-link about" %>
        <%= link_to "Summary", "#cv-link", class: "navbar-link about"  %>
        <%= link_to "Projects", "#project-link", class: "navbar-link projects" %>
        <%= link_to "Contact", "#contact-me", class: "navbar-link projects"  %>
      </div>
    </div>
  </div>
</div>
