<!-- MAIN PAGE -->
<div class="header-container">
  <div class="main-header">
      <h1>BEN JARDINE</h1>


      <div class="container">
        <ul class="container__list" style="margin-left: -17px;">
          <li class="container__list__item">Full Stack Developer</li>
          <li class="container__list__item">Front End Designer</li>
          <li class="container__list__item">Mathematics Graduate</li>
        </ul>
      </div>

      <div class="contact">
      <%= mail_to 'benjamesjardine@gmail.com', target: "_blank", :action => 'go' do %>
        <div class="contact-button">
          CONTACT ME
        </div>
      <% end %>
      </div>

  </div>

  <div>
    <a href="#about-container">
      <span class="bottom"></span>
    </a>
  </div>

  <div class="video">
    <video autoplay muted loop id="myVideo">
      <source src="https://res.cloudinary.com/dgpvllidz/video/upload/v1610639225/london_riverThames_eye_ben_k9ccdt.mp4" type="video/mp4">
    </video>
  </div>


</div>

<!-- <div class="row separater">
</div> -->


<!-- ABOUT ME SECTION -->

<div id="about-container">
  <div class="about-header">
   <h1> ABOUT ME </h1>
  </div>

  <div class="about-middle">
    <div class="about-text">
      <p>Hi there! My name is Ben Jardine - This is my personal website.</p>

      <p>I was born in Northern Ireland and now live in London. I studied Mathematics but decided to change career path towards something more technical and creative! After university I decided to learn how to code and I am now looking for oppurtunities as a Software Developer.</p>

      <p>I am now a fullstack Ruby on Rails developer, although my prefered areas are frontend development, UX/UI design and Object Oriented Programming.</p>

      <p>When I'm not counting pixels or looking for missing <code> < div > </code> I like to play tennis, run and cook dishes from around the world!</p>
    </div>
    <div class="about-image">
      <img src="https://avatars.githubusercontent.com/u/70972340?v=4" alt="Ben Jardine">
      <iframe src="https://open.spotify.com/embed/playlist/79P4qTEL3BL173ZpYt8wv2" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>

</div>

<div id="cv-container">
  <div class="cv-grid">
    <div class="education">
      <h4>Education</h4>
          <div class="line"></div>2020
          <br><strong>Le Wagon</strong>
          <br>Fullstack Web Development
          <br>
          <br>2012 - 2016
          <br><strong>University of Bath</strong>
          <br>BSc Mathematics
          <br>

    </div>
    <div class="experience">
          2020
          <br><strong>Le Wagon</strong>
          <br><span class="">Teaching Assistant</span>
          <br>
          <br>2020
          <br><strong>Freelance Developer</strong>
          <br><span class="">Fixenova App</span>
          <br>
          <br> 2019 - 2020
          <br><strong>Homeppl</strong>
          <br><span class="">Operations Analyst at a Tech Startup</span>
          <br>
          <br> 2016
          <br><strong>College Pro</strong>
          <br><span class="">Business Development Executive</span>

    </div>
    <div class="tech-skills">
      <h4><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;Skills</h4>
          <div class="line"></div>
          <h1>
            <div class="skill-icons">
              <i class="devicon-html5-plain-wordmark"></i>
              <i class="devicon-css3-plain-wordmark"></i><br>
              <i class="devicon-bootstrap-plain-wordmark"></i>
              <i class="devicon-sass-original"></i>
              <i class="devicon-ruby-plain-wordmark"></i><br>
              <i class="devicon-rails-plain-wordmark"></i>
              <i class="devicon-javascript-plain"></i>
              <i class="devicon-react-original-wordmark"></i>
              <i class="devicon-git-plain"></i><br>
              <i class="devicon-photoshop-plain"></i>
              <i class="devicon-postgresql-plain"></i>
              <i class="devicon-heroku-plain-wordmark"></i><br>
              <i class="devicon-webpack-plain"></i>
              <i class="devicon-redis-plain-wordmark"></i><br>
              <i class="devicon-yarn-plain"></i>
            </div>
    </div>
  </div>


</div>




